In [62]:
from itertools import product

In [10]:
%matplotlib inline

In [11]:
import pandas as pd
import geopandas as gpd

In [95]:
def get_unique_per_source(dfs, column, names=None):

    for i1, df1 in enumerate(dfs):
        if names:
            name1 = names[i1]
        else:
            name1 = str(i1)
        print("{} {}".format(name1, len(df1)))
        for i2, df2 in enumerate(dfs):
            if i1 == i2:
                continue
            if names:
                name2 = names[i2]
            else:
                name2 = str(i2)
            missing = set(df1[column]) - set(df2[column])
            print(' - {} in {} not in {}'.format(len(missing), names[i1], names[i2]))

In [96]:
get_unique_per_source([ce, wb], 'water_system_id', names=['ce', 'wb'])

ce 5072
 - 1598 in ce not in wb
wb 3332
 - 280 in wb not in ce

# Getting locations for all water systems

In [85]:
paths = ['/home/robert/data/ca-water-challenge/cehtp/service_areas.shp',
#          '/home/robert/data/ca-water-challenge/cehtp/water-system-service-areas-not-current.kml'
        ]

ce = []
for path in paths:
    df = gpd.read_file(path)
    ce.append(df)
ce = pd.concat(ce)

In [86]:
with open('/home/robert/data/ca-water-challenge/cehtp/water-system-service-areas-not-current-not-complete.geojson', 'w') as f:
    f.write(ce.to_json())

In [88]:
paths = ['/home/robert/data/ca-water-challenge/cehtp/water-system-service-areas-current-complete-converted.geojson',
         '/home/robert/data/ca-water-challenge/cehtp/water-system-service-areas-not-current-complete-converted.geojson',
         '/home/robert/data/ca-water-challenge/cehtp/water-system-service-areas-current-not-complete-converted.geojson',
         '/home/robert/data/ca-water-challenge/cehtp/water-system-service-areas-not-current-not-complete-converted.geojson'
        ]

ce = []
for path in paths:
    df = gpd.read_file(path)
    ce.append(df)
ce = pd.concat(ce)

In [90]:
ce.rename(columns={'pwsid': 'water_system_id'}, inplace=True)

# Water Boards / Human Right to Water portal

In [81]:
wb = gpd.read_file('/home/robert/data/ca-water-challenge/hr2w/EC_Summary_May2018.geojson')
wb.rename(columns={'WATER_SYST': 'water_system_id'}, inplace=True)
wb.water_system_id = wb.water_system_id.str.strip(' ')
# _ = wb.plot(figsize=(5, 5))

In [58]:
(wb.water_system_id.str.len() != 9).sum()

0

In [59]:
wb.head()

,id,water_system_id,WATER_SY_1,REGULATING,COUNTY,POPULATION,CLASSIFICA,CITY_1,ZIPCODE,GIS_STATUS,DEFAULT_ME,geometry
0,0,CA0210001,LAKE ALPINE WATER COMPANY,DISTRICT 10 - STOCKTON,ALPINE,2650,COMMUNITY,ARNOLD,95223,OUT-OF-COMPLIANCE,"OUT-OF-COMPLIANCE, CLICK VIOLATION DETAILS LIN...",POINT (-120.3430402659997 38.26007179300046)
1,1,CA0300037,JACKSON VALLEY IRRIGATION DISTRICT,DISTRICT 10 - STOCKTON,AMADOR,2000,COMMUNITY,IONE,95640,OUT-OF-COMPLIANCE,"OUT-OF-COMPLIANCE, CLICK VIOLATION DETAILS LIN...",POINT (-120.9385128979997 38.35085515100047)
2,2,CA0310005,PINE GROVE COMM SERV DIST,DISTRICT 10 - STOCKTON,AMADOR,846,COMMUNITY,PINE GROVE,95665,OUT-OF-COMPLIANCE,"OUT-OF-COMPLIANCE, CLICK VIOLATION DETAILS LIN...",POINT (-120.6560217529997 38.40973310000049)
3,3,CA0310011,FIRST MACE MEADOW # 1,DISTRICT 10 - STOCKTON,AMADOR,838,COMMUNITY,PINE GROVE,95665,OUT-OF-COMPLIANCE,"OUT-OF-COMPLIANCE, CLICK VIOLATION DETAILS LIN...",POINT (-120.6560217529997 38.40973310000049)
4,4,CA0510003,"ANGELS, CITY OF",DISTRICT 10 - STOCKTON,CALAVERAS,3836,COMMUNITY,ANGELS CAMP,95222,RETURNED TO COMPLIANCE,"RETURNED TO COMPLIANCE, CLICK VIOLATION DETAIL...",POINT (-120.5599795029997 38.06938044100048)

In [60]:
wb.water_system_id.isnull().sum()

0

In [61]:
wb.water_system_id.nunique()

3332

#### 3332 water systems

# drinking water watch

In [109]:
dww = pd.read_csv('/home/robert/data/ca-water-challenge/dww-pws-information.csv', delimiter=',')
dww.rename(columns={'Water System No ': 'water_system_id'}, inplace=True)
dww.water_system_id = dww.water_system_id.str.strip(' ')

In [110]:
(dww.water_system_id.str.len() != 9).sum()

2

In [111]:
dww.water_system_id.isnull().sum()

2

In [14]:
dww.head()

,water_system_id,Water System Name,Principal County Served,Federal Water System Type -CODE,Federal Water System Type,State Water System Type -CODE,State Water System Type,Water System Status -CODE,Water System Status,Owner Type -CODE,...,Number of Residential Service Connections,Total Number of Service Connections,Fee Code,Fee Code Description,Date of Sanitary Survey visit (SNSV Visit Date),CITY,Treatment Plant Class-CODE,Treatment Plant Class,Distribution System Class-CODE,Distribution System Class
0,CA1900045,1000 TRAILS / SOLEDAD CANYON PRESERVE,LOS ANGELES,NC,Transient Non-Community,NC,Transient Non-Community,A,ACTIVE,P,...,NaN,182.0,N1,Transient-Noncommunity Water System,11/22/2017,NaN,NaN,NaN,D1,Distribution Operator Level 1
1,CA2800014,11:11,NAPA,NC,Transient Non-Community,NC,Transient Non-Community,A,ACTIVE,P,...,NaN,1.0,N1,Transient-Noncommunity Water System,6/17/2015,NAPA,NaN,NaN,NR,Not Required
2,CA4000725,141 SUBURBAN ROAD WATER SUPPLY,SAN LUIS OBISPO,NTNC,Non-Transient Non-Community,NTNC,Non-Transient Non-Community,A,ACTIVE,P,...,NaN,1.0,NaN,NaN,6/23/2014,SAN LUIS OBISPO,NaN,NaN,D1,Distribution Operator Level 1
3,CA1700725,3 BROTHERS TRAVEL PLAZA,LAKE,NC,Transient Non-Community,NC,Transient Non-Community,A,ACTIVE,P,...,NaN,2.0,N1,Transient-Noncommunity Water System,1/13/2013,UPPER LAKE,TD,Treatment or distribution operator of any grade,D1,Distribution Operator Level 1
4,CA0901281,30 MILESTONE TRACT #1,EL DORADO,NC,Transient Non-Community,NC,Transient Non-Community,A,ACTIVE,P,...,NaN,14.0,XS,State Small Water System,NaN,NaN,NaN,NaN,NR,Not Required

In [15]:
dww.water_system_id.nunique()

7887

### 7887 water systems

4561 water systems **drinking water watch** in missing from **water board**

In [25]:
len(set(dww.water_system_id.dropna()) - set(wb.water_system_id.dropna()))

4561

6 water systems in **water board** missing from **drinking water watch**

In [28]:
len(set(wb.water_system_id.dropna()) - set(dww.water_system_id.dropna()))

6

In [27]:
len(set(wb.water_system_id.dropna()).union(set(dww.water_system_id.dropna())))

7893

## 7893 water systems

In [92]:
sdwis = pd.read_csv('/home/robert/data/ca-water-challenge/sdwis_pws.csv', delimiter='\t')
sdwis.rename(columns={'PWSID': 'water_system_id'}, inplace=True)
sdwis.water_system_id = sdwis.water_system_id.str.strip(' ')

In [112]:
(sdwis.water_system_id.str.len() != 9).sum()

3

In [113]:
sdwis[sdwis.water_system_id.str.len() != 9]

,water_system_id,PWS_NAME,CONTACT_NAME,TITLE,BUSINESS_PHONE,LOCATION_ADDRESS,POPULATION,TYPE,AREA,OWNERSHIP,SOURCE,CONNECTIONS,WELLS,PLANTS,INTAKES,INTERTIES,COUNTY
2189,CA371053,DHS BORDER PATROL HWY 94 CHECKPOINT,WILLIAM DANA,HEALTH SAFE OFFICER,619-216-4049,NaN,0,Unknown,NaN,Unknown,Unknown,NaN,0,0,0,0,
2192,CA371052,DHS BORDER PATROL I-8 CHECKPOINT,WILLIAM DANA,HEALTH SAFE OFFICER,619-216-4049,NaN,0,Unknown,NaN,Unknown,Unknown,NaN,0,0,0,0,
5409,CA33,PARAMOUNT FARMS-FIREBAUGH,CONAN DUNLAP,GENERAL MANAGER,661-797-6500,NaN,26,Unknown,NaN,Private,Surface Water,1.0,0,0,1,0,

In [114]:
sdwis.water_system_id.isnull().sum()

0

In [93]:
sdwis.head()

,water_system_id,PWS_NAME,CONTACT_NAME,TITLE,BUSINESS_PHONE,LOCATION_ADDRESS,POPULATION,TYPE,AREA,OWNERSHIP,SOURCE,CONNECTIONS,WELLS,PLANTS,INTAKES,INTERTIES,COUNTY
0,CA1900045,1000 TRAILS / SOLEDAD CANYON PRESERVE,CATHY FIORE,,NaN,NaN,182,Non-Community (Transient),Other Transient Area,Private,Groundwater,200.0,3,2,0,0,Los Angeles
1,CA2800014,11:11,AURELIEN ROULIN,OWNER,310-614-3493,NaN,25,Non-Community (Transient),Other Area,Private,Groundwater,1.0,1,1,0,0,Napa
2,CA4000725,141 SUBURBAN ROAD WATER SUPPLY,HEATHER WILDHARBER,,805-544-4300,SAN LUIS OBISPO CA 93401,25,Non-Transient Non-Community,Industrial/Agricultural,Private,Groundwater,1.0,1,0,0,0,San Luis Obispo
3,CA4000717,200 SUBURBAN ROAD WATER SUPPLY,HEATHER WILDHARBER,,NaN,SAN LUIS OBISPO CA 93401,25,Non-Transient Non-Community,Industrial/Agricultural,Private,Groundwater,1.0,1,0,0,0,San Luis Obispo
4,CA1909015,21ST CENTURY HOLINESS TABERNACLE CHURCH,ANGELA MORALES,,NaN,13136 SIERRA HIGHWAYAGUA DULCE CA 91390,110,Non-Community (Transient),Other Transient Area,Private,Groundwater,1.0,1,1,0,0,Los Angeles

In [95]:
missing = set(wb.water_system_id.dropna()) - set(sdwis.water_system_id.dropna())

In [101]:
list(missing)

['CA5200600',
 'CA4500247',
 'CA1503684',
 'CA0900673',
 'CA5403212',
 'CA4301013',
 'CA5403213',
 'CA4100522',
 'CA3200215',
 'CA4200924',
 'CA3107342',
 'CA2400344',
 'CA4901445',
 'CA1100104',
 'CA5602406',
 'CA1504010',
 'CA5602408']

In [104]:
s = sdwis[sdwis.water_system_id.str.contains('CA5200600')]

[DDW]: ? GAMA Domestic Wells ddw
[DPR]:  DPR pesticides
[DWR]:  DWR Groundwater basins throughout Northern California are monitored to determine water quality and related factors affecting beneficial uses
[GAMA DOMESTIC]: gama_statewide
[LLNL]: GAMA (LLNL) llnl_statewide
[USGS]: GAMA (USGS) usgs_statewide
Depth-to-Water and Groundwater Elevation Data: dtw
UC Davis Nitrate Data: ucdnitrate

In [10]:
def summary(dataframe):
    for column in dataframe:
        unique = dataframe[column].unique()
        print(column, len(unique))
        if len(unique) < 5:
            print(unique)

In [20]:
df = pd.read_csv('/home/robert/data/ca-water-challenge/gama_ddw_statewide.txt', delimiter='\t',
                 nrows=1000)

In [21]:
df.head()

,WELL ID,WELL NAME,APPROXIMATE LATITUDE,APPROXIMATE LONGITUDE,CHEMICAL,QUALIFIER,RESULT,UNITS,DATE,DATASET_CAT,DATASET,COUNTY,RB,GW_BASIN_NAME,ASSEMBLY,SENATE
0,W0600103041,0103041-001,37.726859,-122.157248,NO2,<,0.00000,MG/L,11/14/2012,DDW,DDW,ALAMEDA,2,SANTA CLARA VALLEY - EAST BAY PLAIN (2-009.04),18,9
1,W0600103041,0103041-001,37.726859,-122.157248,NO3N,NaN,4.29210,MG/L,11/14/2012,DDW,DDW,ALAMEDA,2,SANTA CLARA VALLEY - EAST BAY PLAIN (2-009.04),18,9
2,W0600103041,0103041-001,37.726859,-122.157248,NO2,<,0.00000,MG/L,12/18/2013,DDW,DDW,ALAMEDA,2,SANTA CLARA VALLEY - EAST BAY PLAIN (2-009.04),18,9
3,W0600103041,0103041-001,37.726859,-122.157248,ALPHA,<,0.00000,pCi/L,12/18/2013,DDW,DDW,ALAMEDA,2,SANTA CLARA VALLEY - EAST BAY PLAIN (2-009.04),18,9
4,W0600103041,0103041-001,37.726859,-122.157248,NO3N,NaN,2.21382,MG/L,12/18/2013,DDW,DDW,ALAMEDA,2,SANTA CLARA VALLEY - EAST BAY PLAIN (2-009.04),18,9

In [22]:
summary(df)

WELL ID 11
WELL NAME 14
APPROXIMATE LATITUDE 7
APPROXIMATE LONGITUDE 8
CHEMICAL 134
QUALIFIER 2
['<' nan]
RESULT 175
UNITS 5
DATE 122
DATASET_CAT 1
['DDW']
DATASET 1
['DDW']
COUNTY 1
['ALAMEDA']
RB 2
[2 5]
GW_BASIN_NAME 5
ASSEMBLY 4
[18 25 20 16]
SENATE 3
[ 9 10  7]

In [20]:
df = pd.read_csv('/home/robert/data/ca-water-challenge/gama_ddw_statewide.txt', delimiter='\t',
                 nrows=1000)

In [21]:
df.head()

,WELL ID,WELL NAME,APPROXIMATE LATITUDE,APPROXIMATE LONGITUDE,CHEMICAL,QUALIFIER,RESULT,UNITS,DATE,DATASET_CAT,DATASET,COUNTY,RB,GW_BASIN_NAME,ASSEMBLY,SENATE
0,W0600103041,0103041-001,37.726859,-122.157248,NO2,<,0.00000,MG/L,11/14/2012,DDW,DDW,ALAMEDA,2,SANTA CLARA VALLEY - EAST BAY PLAIN (2-009.04),18,9
1,W0600103041,0103041-001,37.726859,-122.157248,NO3N,NaN,4.29210,MG/L,11/14/2012,DDW,DDW,ALAMEDA,2,SANTA CLARA VALLEY - EAST BAY PLAIN (2-009.04),18,9
2,W0600103041,0103041-001,37.726859,-122.157248,NO2,<,0.00000,MG/L,12/18/2013,DDW,DDW,ALAMEDA,2,SANTA CLARA VALLEY - EAST BAY PLAIN (2-009.04),18,9
3,W0600103041,0103041-001,37.726859,-122.157248,ALPHA,<,0.00000,pCi/L,12/18/2013,DDW,DDW,ALAMEDA,2,SANTA CLARA VALLEY - EAST BAY PLAIN (2-009.04),18,9
4,W0600103041,0103041-001,37.726859,-122.157248,NO3N,NaN,2.21382,MG/L,12/18/2013,DDW,DDW,ALAMEDA,2,SANTA CLARA VALLEY - EAST BAY PLAIN (2-009.04),18,9

In [22]:
summary(df)

WELL ID 11
WELL NAME 14
APPROXIMATE LATITUDE 7
APPROXIMATE LONGITUDE 8
CHEMICAL 134
QUALIFIER 2
['<' nan]
RESULT 175
UNITS 5
DATE 122
DATASET_CAT 1
['DDW']
DATASET 1
['DDW']
COUNTY 1
['ALAMEDA']
RB 2
[2 5]
GW_BASIN_NAME 5
ASSEMBLY 4
[18 25 20 16]
SENATE 3
[ 9 10  7]

In [4]:
df = pd.read_csv('/home/robert/data/ca-water-challenge/gama_all_dtw_elev.txt', delimiter='\t')

In [9]:
df.head()

,SOURCE,WELL NUMBER,MEASUREMENT DATE,DEPTH TO WATER,GW ELEVATION,LATITUDE,LONGITUDE
0,DWR Well,17S11E22E002S,10/19/1993,100.52,205.82,32.6596,-115.848
1,DWR Well,17S11E22E002S,03/14/1994,100.41,205.93,32.6596,-115.848
2,DWR Well,17S11E22E002S,10/17/1994,100.43,205.91,32.6596,-115.848
3,DWR Well,17S11E22E002S,03/29/1995,100.36,205.98,32.6596,-115.848
4,DWR Well,17S11E22E002S,10/16/1995,100.17,206.17,32.6596,-115.848

In [11]:
summary(df)

SOURCE 2
['DWR Well' 'Environmental Monitoring Well']
WELL NUMBER 153522
MEASUREMENT DATE 31807
DEPTH TO WATER 78447
GW ELEVATION 459819
LATITUDE 101965
LONGITUDE 106045